
<div mat-dialog-content>
    <p>Enter OTP &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;
      {{count}}</p> 
    <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" 
     [config]="config"></ng-otp-input>
     <p><b>Note : </b> OTP is valid for 30 seconds</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="primary">Submit</button>
    <button mat-button color="primary">Close</button>
  </div>