
<div mat-dialog-content>
    <p>Enter OTP &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;
      {{count}}</p> 
      <mat-error *ngIf="Error">{{Error}}</mat-error>
    <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" 
     [config]="config"></ng-otp-input>
     <p><b>Note : </b> OTP send to your register mobile number.<br/> OTP is valid for 5 minute</p>
  </div>
  <div mat-dialog-actions>
    <button type="button" class="btn btn-primary btn-sm" [hidden]="IsResendBtn" [disabled]="IsSubmitbtn" (click)="Submit()">Verify OTP</button>
    <button type="button" class="btn btn-primary btn-sm" [hidden]="!IsResendBtn" (click)="Resend()">Resend OTP</button>
   <!-- <button mat-button [hidden]="IsResendBtn" [disabled]="IsSubmitbtn"  color="primary"  (click)="Submit()">Submit</button>-->
    <!--<button mat-button  [hidden]="!IsResendBtn" color="primary" (click)="Resend()">Resend</button>-->
    <!--<button mat-button mat-dialog-close color="primary">Close</button>-->

  </div>