<mat-dialog-content class="mat-typography">
    <p>Hi,</p>
    <p>We are happy that you have chosen to walk down this path of self-rediscovery with the Enneagram. </p>
    <p>Our assessment on Enneagram Types draws out the innate potential that each person has, based on what motivates
        them to think, feel and act in a certain way. There are 9 Enneagram types – to know which one is yours,
        take the assessment after carefully reading the general guidelines and some instructions.</p>

    <p>General Guidelines - to get the result, as accurate as possible. When responding to statements - </p>

    <ul>
        <li>
            Keep in mind the context of your life in general and don’t just focus on your work environment.
        </li>
        <li>
            Look at your life as a whole (since childhood till date) – rather than taking into account
            what is true for you in the present, unless specifically asked about a current situation.
        </li>
    </ul>

    <p>Key Instructions - Some small points to make note of while doing the assessment - </p>

    <ul>
        <li>
            There are no right and wrong responses so, be as honest and truthful as possible.
            Only you will know your responses and results.
        </li>
        <li>
            Please read the on-page sectional instructions carefully and respond accordingly
        </li>
        <li>
            Complete the assessment in one sitting if possible, without interruptions.
            On an average it takes 30 to 40 minutes to complete the assessment.
        </li>
        <li>
            The report is a confidential one, and will not be shared with anyone,
            other than the coach, only after prior confirmation given by the respondent.
        </li>
    </ul>

    <p>
        Do note, that since the tool is trying to assess your inner world,
        the results of any Enneagram assessment will be dependent on how well
        you know yourself and on how you respond to the statement. There may be a chance that your type may be different
        from your result,
        in which case we encourage you to connect with us to help you discover your main Enneagram type.
    </p>
    <i><u>Before you attempt the assessment,
            please ensure that you are using the most updated version of
            your browser.
        </u></i>


</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="Navigate()">Ok</button>
</div>